* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
th, .brand {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.brand {
  margin-left: 2rem;
  letter-spacing: 3px;
  font-size: 1.2rem;
}
.edit,
.delete {
  font-size: 1.2rem;
  cursor: pointer;
}
.notfound{
  text-align: center;
  color: steelblue;
  font-size: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.back-home {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  border: 2px solid #000;
}
.nf {
  text-align: center;
}